:root {
  --bar-width: 3.5rem;
  --bar-height: 0.5rem;
  --hamburger-gap: 0.4rem;
  --foreground-color: #333;
  --background-color: #fff;
  --hamburger-menu-margin: 1rem;
  --animation-time: 200ms;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);

  --x-width: calc(var(--hamburger-height) * 1.4142135623730950488);

  --sidebar-min-width: calc(var(--x-width) * 2);
  --sidebar-max-width: calc(var(--x-width) * 4);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  position: relative;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  margin: var(--hamburger-menu-margin);
  cursor: pointer;
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

.hamburger-menu input,
.hamburger-menu::before,
.hamburger-menu::after {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground-color);
  border-radius: 100px;

  transition: opacity var(--animation-time), width var(--animation-time),
    transform var(--animation-time), background-color var(--animation-time);
  transform-origin: left center;
}

.hamburger-menu input {
  appearance: none;
  outline: none;
  pointer-events: none;
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-menu:has(input:checked)::before {
  transform: translateY(calc(var(--bar-height) / -2)) rotate(45deg);
  width: var(--x-width);
  background-color: var(--background-color);
}

.hamburger-menu:has(input:checked)::after {
  transform: translateY(calc(var(--bar-height) / 2)) rotate(-45deg);
  width: var(--x-width);
  background-color: var(--background-color);
}

.sidebar {
  min-width: var(--sidebar-min-width);
  max-width: var(--sidebar-max-width);
  padding: 1rem;
  padding-top: calc(var(--hamburger-height) + 2rem);
  background-color: var(--foreground-color);
  color: var(--background-color);
  min-height: 100vh;
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform var(--animation-time);
}

.hamburger-menu:has(input:checked) + .sidebar {
  transform: translateX(0);
}
