:root {
  --bar-width: 3.5rem;
  --bar-height: 0.5rem;
  --hamburger-gap: 0.4rem;
  --foreground-color: #333;
  --background-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  margin: 1rem;
  cursor: pointer;
}

.hamburger-menu input,
.hamburger-menu::before,
.hamburger-menu::after {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground-color);
  border-radius: 100px;
}

.hamburger-menu input {
  appearance: none;
  outline: none;
  pointer-events: none;
}
